asgiref==3.2.10
beautifulsoup4==4.9.3
Django==3.1.2
django-chroniker==1.0.22
django-cors-headers==3.5.0
django-queryset-csv==1.1.0
djangorestframework==3.12.1
djangorestframework-jwt==1.11.0
lxml==4.6.2
numpy==1.19.4
pandas==1.1.5
psutil==5.8.0
psycopg2-binary==2.8.6
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
toposort==1.6
unicodecsv==0.14.1
urllib3==1.26.2
