<div class="row">
  <div class="col-8">
    <h1>List of Matches</h1>
    <div class="card card-body">
      <p>Today {{day}} - {{month}} - {{year}}</p>
      <table class="table table-sm">
        
          <tr>
            <th width="15%" >Time</th>
            <th width="30%">Matches</th>
            <th>
              <div class="divider2"></div>
              1
              <div class="divider3"></div>
              X
              <div class="divider3"></div>
              2
            </th>
            <th></th>
            
          </tr>
          <tr *ngFor="let match of matches; let i = index">
            <td width="15%" style="font-size: 15px; font-weight: bold;">{{ match.time.replace(":00", "")}}</td>
            <td width="30%" style="font-size: 15px; font-weight: bold;">{{match.match_name}}</td>
            <td>
              <button type="button" style="padding: 0px 10px; font-size: small; min-width: 80px;" class="btn btn-success btn-md"><label><input type="radio" id="submit1" name={{match.id}} (change)="clickMatch(match, match.home_code + ' -1')">{{match.home_code | number:'1.2-2'}}</label></button>
              <div class="divider"></div>
              <button type="button" style="padding: 0px 10px; font-size: small; min-width: 80px;" class="btn btn-success btn-md"><label><input type="radio" id="submit2" name={{match.id}} (change)="clickMatch(match, match.draw_code + ' -X')">{{match.draw_code | number:'1.2-2'}}</label></button>
              <div class="divider"></div>
              <button type="button" style="padding: 0px 10px; font-size: small; min-width: 80px;" class="btn btn-success"><label><input type="radio" id="submit3" name={{match.id}} (change)="clickMatch(match, match.away_code + ' -2')">{{match.away_code | number:'1.2-2'}}</label></button>
            </td>
            <td (click)="deleteMatch(match.id)" *ngIf="userrole()"><button class="btn btn-danger btn-sm">Delete</button></td>
          </tr>
      </table>
    </div>
  </div>
  <div class="col-4">
    <br><br><br><br>
    <div class="card card-body">
    <ul *ngFor="let item of items; let i = index">
      <li class="list-group-item list-group-item-action list-group-item-primary" style="margin: -8px;">
        <div>
          <span><strong>{{item.key}}</strong></span>
          <span style="float: right;"><img  src="assets/images/cancel.png" (click)="removeMatch(i)" style="height: 20px;width: 20px; border-radius: 70px; cursor: pointer;"></span>
          </div>
        <div style="flex:0.5;">
          <span>1x2 {{item.value.split(' ')[1]}} </span>
          <span style="float: right;"><strong>{{item.value.split(' ')[0] | number:'1.2-2' }}</strong></span>
        </div>
      </li>
    </ul>
    <div>
      <form #moneyForm="ngForm" *ngIf="!userrole()">
      <ul>
        <li style="list-style-type:none;">
          <div class="input-group">
            <input type="text" ngModel name="currency-field" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="Stake Amount">
        </div>
        </li>
        <li class="list-group-item list-group-item-dark" style="height: 35px;">
          <div>
            <span>Total Odds</span>
            <span style="float: right;">{{ total | number:'1.2-2' }}</span>
          </div>
        </li>
        <li class="list-group-item list-group-item-dark" style="height: 35px;">
          <div>
            <span>Total Stake</span>
            <span style="float: right;">{{ moneyForm.value["currency-field"] }}</span>
          </div>
        </li>
        <li class="list-group-item list-group-item-dark" style="height: 35px;">
          <div>
            <span><strong>Possible Winning</strong></span>
            <span style="float: right;">{{ (total | number:'1.2-2') * moneyForm.value["currency-field"] | number:'1.2-2' }}</span>
          </div>
        </li>
        <li style="margin: 2px; list-style: none" class="btn-group">          
          <button class="button button2" (click)="placeBet(moneyForm.value['currency-field'])">Place Bet</button>
          <button class="button button3"><i class="fa fa-trash-o" aria-hidden="true" style="font-size:32px; color: beige;" (click)="clearList()" ></i></button>
          
        </li>
      </ul>
    </form>
    </div>
  </div>
</div>
</div>
