<section>
	<div class="container">
		<div class="container-fluid">
			<div>
				<h2 style="text-align: center;"> Welcome <strong style="color: royalblue;">{{this.username}} </strong> to your Kamer Bet's account </h2>
			</div>
			
			<div class="btn-group" style="width: 100%">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Deposit</button>

					  <!-- The Modal -->
					  <div class="modal fade" id="myModal">
					    <div class="modal-dialog">
					      <div class="modal-content">
					      
					        <!-- Modal Header -->
					        <div class="modal-header">
					          <h4 class="modal-title" style="text-align: center;font-weight:bold;">Do your Deposit </h4>
					          <button type="button" class="close" data-dismiss="modal">×</button>
					        </div>
					        
					        <!-- Modal body -->
					        <div class="modal-body">
					        	<div>
						        		<form #f="ngForm">	

										<p style="text-align: center;">Make Deposit</p>

										<div class="form-group">
											<label>Enter your amount: </label>
											<input type="number" class="form-control" name="amount" placeholder="Enter the XAF amount (min 1000 - 1000000)" ngModel>
											<br>
										</div>

										<div class="form-group">
											<select class="custom-select" ngModel name="provider">
												<option selected> With </option>
												<option *ngFor="let topic of topics">{{ topic }}</option>
											</select>
										</div>
										<br>
										<button class="btn btn-primary btn-block" (click)="depositValidate(f.value['amount'] , f.value['provider'])">Validate</button>
										</form>
								</div>

					        </div>
					        
					        <!-- Modal footer -->
					        <div class="modal-footer">
					          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					        </div>
					        
					      </div>
					    </div>
					  </div>

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#my_Modal">Withdrawal</button>
										  <!-- The Modal -->
					  <div class="modal fade" id="my_Modal">
					    <div class="modal-dialog">
					      <div class="modal-content">
					      
					        <!-- Modal Header -->
					        <div class="modal-header">
					          <h4 class="modal-title" style="text-align: center;font-weight:bold;">Do your Withdrawal </h4>
					          <button type="button" class="close" data-dismiss="modal">×</button>
					        </div>
					        
					        <!-- Modal body -->
					        <div class="modal-body">
					        	<div>
						        	<form #g="ngForm">	

										<p style="text-align: center;">Make Withdrawal</p>

										<div class="form-group">
											<label>Enter your amount: </label>
											<input type="number" class="form-control" name="amount_" placeholder="Enter the XAF amount" ngModel>
											<br>
										</div>

										<div class="form-group">
											<select class="custom-select" ngModel name="provider_">
												<option selected> With </option>
												<option *ngFor="let topic of topics">{{ topic }}</option>
											</select>
										</div>
										<br>
										<button class="btn btn-primary btn-block" (click)="withdrawalValidate(g.value['amount_'] , g.value['provider_'])">Validate</button>
									</form>
								</div>

					        </div>
					        
					        <!-- Modal footer -->
					        <div class="modal-footer">
					          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					        </div>
					        
					      </div>
					    </div>
					  </div>

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mYModal" > History of the account</button>
						  <div class="modal fade" id="mYModal">
						    <div class="modal-dialog ">
						      <div class="modal-content">
						        <div class="modal-header">
						          <h4 class="modal-title">History of transactions</h4>
						          <button type="button" class="close" data-dismiss="modal">×</button>
						        </div>
						        <div *ngFor="let transaction of transactions ;let t=index" class="modal-body">
						          <div class="row">
						          	<div class="col-sm-2">
						          		<p>{{transaction.datetime | date:'MM/dd HH:mm' }}</p>
						          	</div>
						          	<div class="col">
						          		<p>{{transaction.amount}} </p>
						          	</div>
						          	<div class="col">
						          		<p>{{transaction.desc}}</p>
						          	</div>
						          </div>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						    </div>
						  </div>
			</div>
		</div>

			<div class="container-fluid">
				<br>
				<br>
				<div  style="text-align: center;">
				<p>Your balance is : <strong style="color: green;">{{accounts | number:'1.2-2'}} </strong> XAF</p>
				
				</div>

				<div style="border-style: solid; border-radius: 15px;">
				
					<h3 style="font-weight: bold; text-align: center;">Your Personal Account's Informations</h3> <br>
					<br>
					<div class="container" >

						<form #h="ngForm">

							<div>
							<label for="fullname" >Full name</label>
							<input style="background-color: grey; color: yellow;"  name="fullname" id="full" value="" disabled="disabled" [(ngModel)]="infos.fullname"> 
							</div>

							<div>
							<label for="username" >Username</label>
							<input style="background-color: grey; color: yellow;"  name="username" id="name" value="" disabled="disabled" [(ngModel)]="infos.username"> 
							</div>

							<div>
							<label for="email">Email</label>
							<input style="background-color: grey; color: yellow;"  name="email" id="mail" value="" disabled="disabled" [(ngModel)]="infos.email">
							</div>

						<div  style="text-align: center;">
							<label for="phone">Phone number</label>
							<input style="background-color: grey; color: yellow;"  name="phone" id="pho" value="" disabled="disabled" [(ngModel)]="infos.phone"> 
						</div>

					</form>
				</div>
			</div>
	</div>