<div>
  <header>
    <div id="header_wrapper">
      <div id="header" class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <li id="sitename"><a href="#">Kamer Bet</a></li>
        </div>
      <div class="row d-flex justify-content-end align-items-center" *ngIf="!logins()">
        <form action="post">
          <li>Username<br><input [(ngModel)]="input.username" id="email" type="text" name="email"></li>
          <li>Password<br><input  [(ngModel)]="input.password" type="password" id="pass-field" name="password"><br><a href="">Forgotten account?</a></li>
          <li><button class="myButton" (click)="onLogin()" type="submit">Sign in</button>&nbsp;&nbsp;<input type="submit" class="myButton" name="login" href="/matches" routerLink="/registerpage" value="Register"></li>
        </form>
      </div>
      <div class="row d-flex justify-content-end align-items-center" *ngIf="logins()">
        <div class="col-sm-12" style = "text-transform:capitalize;">Welcome, {{ getUsername() }}.<br />
          <button (click)="logout()" class="btn btn-primary">Log Out</button>
        </div>
      </div>
      </div>
    </div>
  </header>
  <div class="nav-scroller py-6 mb-9">
    <nav class="nav d-flex justify-content-between" style="background-color: #2f45c2;">
      <a class="p-2" style="color: rgb(252, 239, 62);" href="/matches" routerLink="/matches" routerLinkActive="active">Sport</a>
      <a class="p-2" style="color: rgb(252, 239, 62);" routerLink="/betslip" routerLinkActive="active">Bet Slip</a>
      <a class="p-2" style="color: rgb(252, 239, 62);" href="/account" routerLinkActive="active">Account</a>
      <a class="p-2" style="color: rgb(252, 239, 62);" routerLinkActive="active">Help</a>
      <a class="p-2" style="color: rgb(252, 239, 62);" href="#">Bonus</a>
    </nav>
  </div>

<router-outlet></router-outlet>

<footer>
  <div style="background-color: black;">
    <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places" style="color: #28357e">Informations</h5>
          <p class="mb-0"><a href="#" style="color: white;">About us</a></p>
          <p class="mb-0"><a href="#" style="color: white;">Find us</a></p>
          <p class="mb-0"><a href="#" style="color: white;">Terms & conditions</a></p>
          <p class="mb-0"><a href="#" style="color: white;">Cookies policy</a></p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places" style="color: #28357e;">Help</h5>
          <p class="mb-0"><a href="#" style="color: white;">How to deposit</a></p>
          <p class="mb-0"><a href="#" style="color: white;">How to withdrawp</a></p>
          <p class="mb-0"><a href="#" style="color: white;">How to register</a></p>
          <p class="mb-0"><a href="#" style="color: white;">Balance check</a></p>
          <p class="mb-0"><a href="#" style="color: white;">Help Center</a></p>
          <p class="mb-0"><a href="#" style="color: white;">Betting rules</a></p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places" style="color:#28357e;">Contact Us</h5>
          <p class="mb-0"><a href="#" style="color: white;">Email address</a></p>
          <p class="mb-0"><a href="#" style="color: white;">Office Address</a></p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places" style="color:#28357e;">News & partners</h5>
          <p class="mb-0"><a href="#" style="color: white;">News</a></p>
          <p class="mb-0"><a href="#" style="color: white;">Statistics</a></p>
          <p class="mb-0"><a href="#" style="color: white;" >Partners</a></p>
      </div>
      <div id="conteneur" style="display: flex;flex-direction: column;">
        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <select name="language" id="language" style="height: 22px;background-color: #28357e;">
            <option value="francais">Francais</option>
            <option value="anglais">Anglais</option>
          </select>
        </div>
        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
            <img src="assets/images/21+.jpg" style="height: 50px;width: 50px; border-radius: 70px;">
        </div>
        <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
          <h3 style="color: #28357e; ">ICCSoft</h3> <small style="color: #28357e">Copyright &copy; 2020</small>
        </div>
      </div>  
    </div>
  </div>
</footer>
</div>